
html * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
html {
    background-color: #222;
    color: white;
  }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;
  }



main {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
table{
    background-color: rgb(7, 7, 7);
    
}
td{
    background-color: rgb(175, 175, 175);
    width: 40px;
    height: 40px;
}
#settings {
    display: flex;
    flex-flow: column;
    height: 100px;
    justify-content: space-around;
    font-size: 28px;
    text-align: center;
}
button {
    font-size: 32px;
}



.red {
    background-color: rgb(223, 55, 55);
  }
  .blue {
    background-color: rgb(49, 49, 189);
  }
  .green {
    background-color: rgb(28, 121, 74);
  }
  .yellow {
    background-color: rgb(207, 207, 35);
  }